In [4]:
#Q1. Create one variable containing following type of data: (i) string (ii) list (iii) float (iv) tuple
var1 = "string"
var2 = [1,2,3,4,5]
var3 = 12.34
var4 = (1,2,3,4)

In [5]:
#Q2. Given are some following variables containing data: (i) var1 = ‘ ‘ (ii) var2 = ‘[ DS , ML , Python]’ (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv) var4 = 1.

var1 = ""
var2 = "[ DS , ML , Python]"
var3 = [ "DS" , "ML" , "Python" ]
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [ ]:
#Q3. Explain the use of the following operators using an example: (i) / (ii) % (iii) // (iv) 
(/) :- normal division 
(%) :- shows remainder 
(a//b) :- shows quotient
(**) :- to the power of

In [6]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
l = [2,3,35, "sach", [4,5,6], {8,9,0},{"name" : "sumedh"}, False,8+3j, (1,2,3)]

for i in l : 
    print(i)
    print(type(i))

2
<class 'int'>
3
<class 'int'>
35
<class 'int'>
sach
<class 'str'>
[4, 5, 6]
<class 'list'>
{8, 9, 0}
<class 'set'>
{'name': 'sumedh'}
<class 'dict'>
False
<class 'bool'>
(8+3j)
<class 'complex'>
(1, 2, 3)
<class 'tuple'>

In [7]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

l1 = list(range(1,26))
for i in l1 : 
    if (i%3 ==0):
        print(f" {i} is divisible by 3 ")
    else : 
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
 3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
 6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
 9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
 12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
 15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
 18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
 21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
 24 is divisible by 3
25 is not divisible by 3

In [8]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

l1 = [1,2,4,5,8,10]
t1 = (1,2,4,6,8,)

l1[4] = 99
t1[4] = 99

TypeError: 'tuple' object does not support item assignment

In [9]:
l1

[1, 2, 4, 5, 99, 10]

In [10]:
t1

(1, 2, 4, 6, 8)