Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
my_string = "Hello, World!"
my_list = [1,2,3,]
my_float = 3.14
my_tuple = (6, 7, 8, 9, 10)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [3]:
var2 = '[DS, ML, Python]'

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [4]:
#(i) / (Division Operator):
#The division operator / is used to perform division between two numbers. It returns the quotient as a floating-point number.
a = 10
b = 3

result = a / b

print(result)

3.3333333333333335

In [5]:
#(ii) % (Modulo Operator):
#The modulo operator % is used to find the remainder of the division between two numbers.

a = 10
b = 3

result = a % b

print(result)

1

In [6]:
##The floor division operator // is used to perform division between two numbers and return the floor value (rounded down to the nearest integer) of the quotient.

a = 10
b = 3

result = a // b

print(result)

3

In [7]:
#(iv) ** (Exponentiation Operator):
#The exponentiation operator ** is used to raise a number to a power.

a = 2
b = 3

result = a ** b

print(result)

8

In [8]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

my_list = [1, "Hello", 3.14, True, [1, 2, 3], {"name": "John", "age": 25}, None, (4, 5, 6), "Python", False]

for element in my_list:
    print(element, type(element))

1 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John', 'age': 25} <class 'dict'>
None <class 'NoneType'>
(4, 5, 6) <class 'tuple'>
Python <class 'str'>
False <class 'bool'>

In [9]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

A = 100
B = 5
count = 0

while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B} and it can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

4 is divisible by 5 and it can be divided 2 times.

In [10]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

In [11]:
my_list = [12, 7, 18, 25, 36, 41, 9, 15, 21, 33, 14, 27, 19, 30, 22, 42, 10, 5, 8, 3, 17, 20, 38, 23, 31]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
18 is divisible by 3.
25 is not divisible by 3.
36 is divisible by 3.
41 is not divisible by 3.
9 is divisible by 3.
15 is divisible by 3.
21 is divisible by 3.
33 is divisible by 3.
14 is not divisible by 3.
27 is divisible by 3.
19 is not divisible by 3.
30 is divisible by 3.
22 is not divisible by 3.
42 is divisible by 3.
10 is not divisible by 3.
5 is not divisible by 3.
8 is not divisible by 3.
3 is divisible by 3.
17 is not divisible by 3.
20 is not divisible by 3.
38 is not divisible by 3.
23 is not divisible by 3.
31 is not divisible by 3.

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.