Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized, stored, and managed in a way that allows for efficient retrieval, updating, and analysis of information. Databases are used in various applications and systems to store and manipulate data.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems (DBMS) that differ in their data models, query languages, and design philosophies. Here's a brief differentiation between SQL and NoSQL databases:

1)Data Model:
2)Query Language:
3)Scalability and Performance:
4)Schema Flexibility:

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database and its objects.

1) CREATE :- The CREATE statement is used to create new database objects such as tables, views, indexes, or schemas.

         CREATE TABLE Employees (
  EmployeeID INT,
  Name VARCHAR(50),
  Salary DECIMAL(10, 2)
);

2) DROP :- The DROP statement is used to remove database objects from the database. It permanently deletes the specified object and its associated data.

      DROP TABLE Employees;

3) ALTER :-  The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or indexes.
     
       ALTER TABLE Employees
ADD Department VARCHAR(50);


4) TRUNCATE :- The TRUNCATE statement is used to remove all data from a table while keeping its structure intact. It is faster than using the DELETE statement to remove individual rows because it doesn't generate transaction logs for each deleted row.

     TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate data stored in a database. DML statements are used to insert, update, and delete data within the database tables.

1)INSERT: The INSERT statement is used to insert new records or rows into a table. It allows you to specify the values to be inserted for each column or select values from another table.

    INSERT INTO Employees (EmployeeID, Name, Salary)
VALUES (1, 'John Doe', 5000);


2)UPDATE :The UPDATE statement is used to modify existing records in a table. It allows you to update one or more columns with new values based on specified conditions.

     UPDATE Employees
SET Salary = 6000
WHERE EmployeeID = 1;

3)DELETE :The DELETE statement is used to remove records or rows from a table based on specified conditions.

      DELETE FROM Employees
WHERE EmployeeID = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve and manipulate data from a database. DQL statements are primarily focused on querying and retrieving data from database tables.

Example :

     SELECT column1, column2, ...
FROM table_name
WHERE condition;
SELECT * FROM Employees;
SELECT Name, Salary FROM Employees;

SELECT * FROM Employees
WHERE Salary > 5000;

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each record or row in that table. It ensures the uniqueness and integrity of the data in the table. Here are some key points about primary keys:

1)Uniqueness: A primary key must have a unique value for each record in the table. No two records can have the same primary key value.

2)Non-nullability: A primary key cannot contain a null (empty) value. Each record must have a valid value for the primary key.

3)Single Column or Composite Key: A primary key can consist of a single column or a combination of multiple columns. In the case of a composite key, the combination of column values must be unique.

Foreign Key:
A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a relationship between two tables based on the values in those columns. Here are some key points about foreign keys:

1)Referential Integrity: A foreign key maintains referential integrity by ensuring that the values in the foreign key column(s) correspond to the values in the primary key column(s) of the referenced table.

2)Relationship Establishment: By defining a foreign key relationship, you can establish connections between tables, reflecting dependencies or associations between their data.

3)Parent-Child Relationship: The table containing the primary key is referred to as the parent table, while the table containing the foreign key is referred to as the child table. The foreign key in the child table references the primary key in the parent table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user="your_username",
  password="your_password",
  database="your_database_name"
)


cursor = mydb.cursor()


cursor.execute("SELECT * FROM your_table_name")
result = cursor.fetchall()  # Fetch all rows returned by the query


for row in result:
    print(row)


cursor.close()
mydb.close()


cursor is created using mydb.cursor(). The cursor object allows you to execute SQL queries and fetch results

cursor.execute() is used to execute an SQL query. You can pass the query as a string parameter.

Q7. Give the order of execution of SQL clauses in an SQL query.

1)FROM: Specifies the table or tables from which the data is being retrieved. It identifies the source of the data.

2)JOIN: If multiple tables are involved, JOIN clauses are used to specify how the tables are related and how to combine their data.

3)WHERE: Filters the rows based on specified conditions. It allows you to narrow down the data based on specific criteria.

GROUP BY: Groups the rows based on one or more columns. It is often used in combination with aggregate functions like SUM, COUNT, AVG, etc.

HAVING: Filters the grouped rows based on conditions. It is similar to the WHERE clause but operates on the grouped data.

SELECT: Specifies the columns to be retrieved from the table(s). It selects the desired data based on the preceding clauses.

DISTINCT: Removes duplicate rows from the result set. It ensures that only unique values are returned.

ORDER BY: Sorts the rows based on one or more columns. It allows you to specify the order in which the results are presented (ascending or descending).

LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows. It helps in paging or retrieving a subset of the result set.